{{ ansible_managed | comment }}

[Unit]
Description=Docker compose: {{ item.key }}
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=true

Environment="TERM=dumb"

WorkingDirectory=/opt/docker-compose_{{ item.key }}

ExecStart=/usr/bin/sh -c 'docker compose --env-file .env up --remove-orphans -d'
ExecRestart=/usr/bin/sh -c 'docker compose rm -sf && docker compose --env-file .env up --remove-orphans -d'
ExecStop=/usr/bin/sh -c 'docker compose rm -sf'

[Install]
WantedBy=multi-user.target
